@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    font-family: Outfit, sans-serif;
}

.active hr{
    @apply block
}

::-webkit-scrollbar{
    @apply hidden
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;   /* only hide horizontal scroll */
  overflow-y: auto;     /* keep vertical scroll so sticky works */
  height: 100%;         /* ensure body has height */
}

